.react-calendar {
  width: 360rem;
  max-width: 100%;
  background: white;
  line-height: 26rem;
  padding: 10rem;
}

.react-calendar--doubleView {
  width: 700rem;
}

.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: 12rem;
}

.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 12rem;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: black;
  abbr {
    font-size: 16rem;
  }
}

.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}

.react-calendar__navigation {
  display: flex;
  height: 44rem;
  margin-bottom: 12rem;
}

.react-calendar__navigation button {
  min-width: 44rem;
  background: none;
}
.react-calendar__navigation button:enabled:focus {
}
.react-calendar__navigation button:enabled:hover {
  background-color: #f3f6f6;
  border-radius: 5rem;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font: inherit;
  font-size: 8rem;
  font-weight: bold;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 12rem;
}

.react-calendar__month-view__weekdays__weekday > abbr {
  font-weight: 500;
  font-size: 14rem !important;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font: inherit;
  font-size: 8rem;
  font-weight: bold;
}

.react-calendar__month-view__days__day--weekend {
}

.react-calendar__month-view__days__day--neighboringMonth,
.react-calendar__decade-view__years__year--neighboringDecade,
.react-calendar__century-view__decades__decade--neighboringCentury {
  abbr {
    color: #6a7682;
  }
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 24rem 12rem;
}

.react-calendar__tile {
  max-width: 100%;
  padding: 10rem 6.6667rem;
  background: none;
  text-align: center;
  line-height: 16rem;
  font: inherit;
  font-size: 10rem;
  border-radius: 5rem;
}

.react-calendar__navigation__label {
  padding: 0 3rem;
}
.react-calendar__navigation__label > span {
  font-weight: 400;
  font-size: 18rem;
}

.react-calendar__tile:disabled {
  abbr {
    color: #dadddc;
  }
}

.react-calendar__decade-view__years__year {
  font-size: 16rem;
  font-weight: 400;
}

.react-calendar__decade-view__years__year {
  font-size: 16rem;
  font-weight: 400;

  &.react-calendar__tile--now {
    font-weight: 600;
    text-decoration: 2rem solid underline #49b5ab;
    text-underline-offset: 8rem;
    color: #49b5ab;
  }
}

.react-calendar__century-view__decades__decade {
  font-size: 14rem;
  font-weight: 400;

  &.react-calendar__tile--now {
    font-weight: 600;
    text-decoration: 2rem solid underline #49b5ab;
    text-underline-offset: 8rem;
    color: #49b5ab;
  }
}

.react-calendar__month-view__days__day--neighboringMonth:disabled,
.react-calendar__decade-view__years__year--neighboringDecade:disabled,
.react-calendar__century-view__decades__decade--neighboringCentury:disabled {
  color: #6a7682;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #f3f6f6;
  border-radius: 5rem;
}

.react-calendar__tile--now {
  abbr {
    font-weight: 600;
    text-decoration: 2rem solid underline #49b5ab;
    text-underline-offset: 8rem;
    color: #49b5ab;
  }
  &:disabled {
    abbr {
      text-decoration: 2rem solid underline #dadddc;
    }
  }
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #f3f6f6;
}

.react-calendar__tile--hasActive {
  background: #49b5ab4d;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #49b5ab4d;
}

.react-calendar__tile--active {
  background: #49b5ab4d;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #49b5ab4d;
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #49b5ab4d;
}

abbr[title] {
  text-decoration: none;
  cursor: default;
}
